# <center> INTRODUCTION À PYTHON POUR L'ÉCONOMIE APPLIQUÉE</center>
## <center> EXERCICES : 06.12.2022</center>
#### <center>Michal Urdanivia (UGA)</center>
#### <center> michal.wong-urdanivia@univ-grenoble-alpes.fr </center>

1. Créer une fonction qui calcule la moyenne d'une variable représentée sous la forme d'un array numpy.
2. Tester la fonction sur une variable aléatoire de loi normale $ \mathcal{N}(0, 1) $
3. Faire la même chose qu'en 1 et 2 mais pour l'écart-type.
4. Comparez vos résultats à ceux des fonctions de numpy [.mean](https://numpy.org/doc/stable/reference/generated/numpy.mean.html) et [.std](https://numpy.org/doc/stable/reference/generated/numpy.std.html).

**Remarque** : 

Sur un vecteur $ X = (X_1, X_2, \ldots, X_n)^\top $. Pour calculer la moyenne de $X$, $\bar{X}$,
on peut faire:

$$
\bar{X} = X^\top \times \mathbf{1}_n / n,
$$
où  $\mathbf{1}_n$ est le vecteur $(1, 1, \ldots, 1)^\top$ de taille $n$.

In [22]:

import numpy as np

X = np.random.normal(loc=0,scale=1,size=10)# variable aléatoire de loi N(0, 1)

# Votre code ici

46411.0

In [20]:
# Question 1: fonction
def moyenne(X):
    vec_ones = np.ones(len(X))
    n = np.sum(vec_ones)
    mean_output = X.T @ vec_ones / n
    return mean_output

In [23]:
# Question 2: test
moyenne(X)

0.02300890776178264

In [ ]:
# Question 3: 
def ecart_type(X):
# A compléter
    return ecart_type_output

In [6]:
np.std(X)

1.2406378486009726

5. Testez votre fonction sur le données issus du site de [Bruce Hansen](https://www.ssc.wisc.edu/~bhansen/econometrics/). Pour cela utilisez d'abord le code suivant qui lit les données sous forme d'un [dataframe pandas](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html), sélectionne un échantillon et transforme des variables choisies en `numpy arrays`. En particulier on considère le niveau d'études( `education`) et le salaire en logarithme(`lwage`). Pour des détail sur ces données vous pouvez consulter ce [dictionnaire](https://www.ssc.wisc.edu/~bhansen/econometrics/cps09mar_description.pdf).

In [7]:
# Import de pandas
import pandas as pd

In [8]:
# Lecture des données.
# On utilise la fonction "read_stata" dans pandas pour lire le fichier au format stata(".dta") disponible 
# sur le site de Bruce Hansen. Vous pouvez aussi le télécharger sur votre poste et ensuite le lire.
# Nous l'appellons cps_df(pour cps data frame)
cps_df = pd.read_stata("https://www.ssc.wisc.edu/~bhansen/econometrics/cps09mar.dta")
cps_df.info()   # Affichage d'informations.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50742 entries, 0 to 50741
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        50742 non-null  float64
 1   female     50742 non-null  float64
 2   hisp       50742 non-null  float64
 3   education  50742 non-null  float64
 4   earnings   50742 non-null  float64
 5   hours      50742 non-null  float64
 6   week       50742 non-null  float64
 7   union      50742 non-null  float64
 8   uncov      50742 non-null  float64
 9   region     50742 non-null  float64
 10  race       50742 non-null  float64
 11  marital    50742 non-null  float64
dtypes: float64(12)
memory usage: 5.0 MB

In [9]:
# Échantillon

cps_df2 = cps_df[(cps_df.race == 1.0) | (cps_df.race == 2.0)]

# Variables

cps_df2 = cps_df2.assign(exper = cps_df2.age - cps_df2.education - 6) # Expérience
cps_df2 = cps_df2.assign(expersq = cps_df2.exper**2/100) # Expérience au carré
cps_df2 = cps_df2.assign(lwage = np.log(cps_df2.earnings / ( cps_df2.hours * cps_df2.week))) # revenu horaire
cps_df2 = pd.get_dummies(data = cps_df2, columns= ['race']) # indicatrice d'appartenance ethnique
cps_df2 = cps_df2.rename(columns={"race_1.0": "white", "race_2.0": "black"}) # on les renomme 
print(cps_df2.shape)
cps_df2.describe()
#cps_df2[['exper', 'age', 'education', 'expersq', 'lwage', 'earnings', 'week', 'hours']].head()

(46411, 16)

,age,female,hisp,education,earnings,hours,week,union,uncov,region,marital,exper,expersq,lwage,white,black
count,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000,46411.000000
mean,42.213915,0.423477,0.154468,13.882269,55082.729181,43.879964,51.879554,0.021934,0.002262,2.597789,2.754584,22.331646,6.337939,2.945706,0.889358,0.110642
std,11.468616,0.494115,0.361400,2.713667,52324.915589,7.701222,0.596815,0.146471,0.047511,1.047513,2.497897,11.623014,5.635276,0.673137,0.313692,0.313692
min,15.000000,0.000000,0.000000,0.000000,1.000000,36.000000,48.000000,0.000000,0.000000,1.000000,1.000000,-4.000000,0.000000,-7.863267,0.000000,0.000000
25%,33.000000,0.000000,0.000000,12.000000,28000.000000,40.000000,52.000000,0.000000,0.000000,2.000000,1.000000,13.000000,1.690000,2.560096,1.000000,0.000000
50%,42.000000,0.000000,0.000000,13.000000,42000.000000,40.000000,52.000000,0.000000,0.000000,3.000000,1.000000,22.000000,4.840000,2.956512,1.000000,0.000000
75%,51.000000,1.000000,0.000000,16.000000,65000.000000,45.000000,52.000000,0.000000,0.000000,3.000000,5.000000,31.000000,9.610000,3.354542,1.000000,0.000000
max,85.000000,1.000000,1.000000,20.000000,561087.000000,99.000000,52.000000,1.000000,1.000000,4.000000,7.000000,75.000000,56.250000,5.583706,1.000000,1.000000

In [11]:
# Variables(dépendante et régresseurs)

dep_var = cps_df2['lwage']
reg_var = cps_df2[['education', 'female', 'black', 'exper', 'expersq']]

# Ce ne sont pas array mais des objets pour pandas leur type est

print(type(dep_var), type(reg_var))

# Conversion en arrays pour numpy(on crée de nouveaux objets Yn, Xn, afin de ne pas écraser ceux de dépar
# que nous utiliserons par la suite.

Y = dep_var.values[:, np.newaxis]
X = reg_var.values
n = len(Y)
# On estime un modèle avec terme constant qu'on doit joindre
X = np.concatenate((np.ones((n,1)), X), axis=1) 
print(type(Y), Y.shape)
print(type(X), X.shape)

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'> (46411, 1)
<class 'numpy.ndarray'> (46411, 6)

In [13]:
# Testez à présent vos fonctions sur Y et X.
np.mean(Y)

7.347662192152722